


{% extends "devices/index.html" %}
	{% block content %}
			<div>
			<script>
				$(function() {
					$( "#id_date" ).datepicker();
				});
			</script>
			
				<form action="/service/" method="post">
				{{ formset }}
				<input type="submit" value="Submit" />
				</form>
				</div>
				<h2>Обслуживание техники</h2>
				<div id="clist">
				{% if service_list %}
				<table>
				{% for service in service_list %}
				<tr>
				<td>{{ service.device }}</td>
				<td>{{ service.servicetype }}</td>
				<td>{{ service.replace }}</td>
				<td>{{ service.date }}</td>
				</tr>
				{% endfor %}
				</table>
				{% else %}
				<p>No Services are available.</p>
				{% endif %}
			</div>
	{% endblock %}


